# fly.toml app configuration file generated for crisiscompass on 2025-03-20T01:19:50Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'crisiscompass'
primary_region = 'sea'

[build]

[deploy]
  release_command = "rake db:migrate"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  size = 'shared-cpu-1x'
