<div class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md text-center">
        <img src="<%= @user.avatar_url %>" alt="プロフィール画像" class="w-24 h-24 mx-auto rounded-full mb-4">
        
        <h2 class="text-xl font-bold"><%= @user.name %></h2>
        <p class="text-gray-600 mb-4"><%= @user.email %></p>
        
        <div class="space-y-4">
            <a class=" block w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600 transition" href="/mypage/register">個人情報登録</button>
            <a class="block w-full bg-gray-500 text-white py-2 rounded-lg hover:bg-gray-600 transition" href="/persons">ユーザー一覧</button>
            <a href="/signout" class="block w-full bg-red-500 text-white py-2 rounded-lg hover:bg-red-600 transition text-center">
                Sign out
            </a>
        </div>
    </div>
</div>